[submodule "MOM6-CICE6_1deg_jra55do_ryf"]
	path = configs/MOM6-CICE6_1deg_jra55do_ryf
	url = https://github.com/COSIMA/MOM6-CICE6.git
	branch = 1deg_jra55do_ryf
[submodule "ACCESS-OM2_1deg_jra55_ryf"]
	path = configs/ACCESS-OM2_1deg_jra55_ryf
	url = https://github.com/COSIMA/1deg_jra55_ryf
[submodule "configs/mom6-om4-025"]
	path = configs/mom6-om4-025
	url = https://github.com/COSIMA/mom6-om4-025
[submodule "configs/mom6-panan"]
	path = configs/mom6-panan
	url = https://github.com/COSIMA/mom6-panan
[submodule "configs/mom6-eac"]
	path = configs/mom6-eac
	url = https://github.com/COSIMA/mom6-eac
[submodule "MOM6-examples"]
	path = configs/MOM6-examples
	url = https://github.com/NOAA-GFDL/MOM6-examples.git
[submodule "configs/MOM6-CICE6_gmom_jra"]
	path = configs/MOM6-CICE6_gmom_jra
	url = https://github.com/COSIMA/MOM6-CICE6.git
	branch = gmom_jra
